@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

body {
    background-color: #1A2235;
    color: aliceblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

.contenedorMaestro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.barraNavegadora {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: #1E293B;
    margin: 0;
    height: 100vh;
}

.barraNavegadora img {
    width: 100%;
    margin-top: 5%;
}

.barraNavegadora ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-grow: 1;
}

.barraNavegadora ul li {
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 2%;
}

.barraNavegadora ul li:hover {
    background-color: #344152;
}

.barraNavegadora ul li a {
    text-decoration: none;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15%;
    padding: 12%;
}

.barraNavegadoraUsuario {
    margin-top: auto;
    border-radius: 10px;
}

.barraNavegadoraUsuario a {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    text-decoration: none;
    color: var(--accent);
    font-weight: bold;
    border: none;
}

.contenedorPrincipal {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.contenedorPrincipal header {
    background-color: #1D2538;
    border-bottom: #222A3D 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedorPrincipal p {
    padding-left: 2%;
    padding-right: 2%;
}

.contenedorPrincipal p a {
    text-decoration: none;
    color: aliceblue;
}

.contenedorPrincipal p a:hover {
    text-decoration: underline;
}